{% extends "learning_logs/base.html" %}

{% block page_header %}
  <div class="row">
    <div class="col-8">
      <h2>{{ profile_user.username }}のプロフィール</h2>
    </div>
  </div>
{% endblock page_header %}

{% block content %}
  <div class="row">
    <div class="col-8">
      <h3>投稿した知識</h3>
      <hr>
      {% if knowledges %}
        <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
          {% for knowledge in knowledges %}
            <div class="col">
              <div class="card h-100">
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="{% url 'learning_logs:knowledge_detail' knowledge_id=knowledge.pk %}" class="link-primary text-decoration-underline">
                      {{ knowledge.title }}
                    </a>
                    {% if knowledge.is_public %}
                      <span class="badge bg-success ms-2">公開</span>
                    {% else %}
                      <span class="badge bg-secondary ms-2">非公開</span>
                    {% endif %}
                  </h5>
                  <p class="card-text text-muted">最終更新日: {{ knowledge.date_added }}</p>
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      {% else %}
        <p>まだ知識を投稿していません。</p>
      {% endif %}
    </div>
  </div>
{% endblock content %}