{% extends 'todo/base.html' %}

{% block header %}
<h1>Todo Detail</h1>
{% endblock header %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h2>タイトル:{{task.title}}</h2>
        <p>ページ数:{{task.page}}</p>
        <p>本のサイズ:{{task.size}}</p>
        <p>章構成:{{task.text1}}</p>
        <p>キーワード:{{task.keyword}}</p>
        <p>詳細:{{task.description}}</p>
        <p>ジャンル:{{task.genre}}</p>
    </div>
</div>
<a class="btn btn-outline-secondary mt-2" href="{% url 'book' %}" role="button">戻る</a>
{% endblock content %}