{% extends 'todo/base.html' %}

{% block header %}
    <h1>Todo List</h1>
    <p>今日のタスクを作成しましょう！</p>
    <a class="btn btn-primary" href="{% url 'normalcreate' %}">新規作成</a>
    <a class="btn btn-primary" href="{% url 'taskhistory' %}">過去のタスク</a>
    <a class="btn btn-primary" href="{% url 'book' %}">本</a>
    <a class="btn btn-primary" href="{% url 'tasklist' %}">論文</a>
{% endblock header %}

{% block content %}
<div class="shadow-sm p-3 mb-5 bg-white rounded">
    <table class="table">
        <thead>
            <tr>
            <th scope="col">状態</th>
            <th scope="col">タイトル</th>
            <th scope="col">締切日</th>
            <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
        <tr>
            <td><a href="{% url 'state' task.pk %}">
            {% if task.int2 == 0 %}
              Todo
            {% endif %}
            {% if task.int2 == 1 %}
              Doing
            {% endif %}
            {% if task.int2 == 2 %}
              Done
            {% endif %}
            </a></td>
            <td>{{ task.title }}</td>
            <td>{{ task.deadline }}</td>
            <td>
                <a href="{% url 'detail' task.pk %}">詳細</a>
                <a href="{% url 'update' task.pk %}">編集</a>
                <a href="{% url 'delete' task.pk %}">削除</a>
            </td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</div>

{% endblock content %}